@import url('https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: var(--font-one);
}



body {
    display: flex;
    flex-direction: column;

}

:root {
    --green-1000: #D8F3DC;
    --green-900: #B7E4C7;
    --green-800: #95D5B2;
    --green-700: #74C69D;
    --green-600: #52B788;
    --green-500: #40916C;
    --green-400: #2D6A4F;
    --green-300: #081C15;
    --grey-100: #847577;
    --grey-200: #A6A2A2;
    --grey-300: #CFD2CD;
    --grey-400: #E5E6E4;
    --white: #ffffff;
    --font-one: "Sedan", serif;
}

.section-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100%;
}

.nav-class {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid var(--green-300);
}

.div-nav {
    display: flex;
    padding: 40px;
    gap: 50px;
    color: var(--green-600);
}


.presentation {
    display: flex;
    width: 80%;
    height: 500px;
    gap: 10px;
    margin-left: 30px;

}

.presentation>img {
    width: 600px;
    height: 500px;

}

.text-presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    width: 900px;

}

.text-presentation :first-child {
    font-size: 40px;
    color: var(--green-300);
}

.text-presentation>p {
    font-size: 30px;
    color: var(--green-600);
}

.text-presentation>button {
    width: 200px;
    height: 44px;
    color: var(--green-300);
    background-color: var(--green-1000);
    border-radius: 30px;
    border: none;
    font-size: 20px;
}


.line {
    display: flex;
    align-self: center;
    width: 80%;
    height: 1px;
    background-color: black;
    margin: 30px;
}

.text-center {
    display: flex;
    justify-content: center;
    margin: 50px;
    font-size: 40px;
    color: var(--green-300);
}

.section-2 > card{
    display: flex;
    justify-content: center;
}

.card {
    display: inline-block;
    margin: 40px 40px 40px 40px;
    justify-content: center;
    height: 440px;
    text-align: center;
    background-color: var(--green-1000);
    border-radius: 15px;
    border: 1px solid var(--green-300);
    overflow: hidden;
    width: 270px;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.card:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.card img {
    background-size: cover;
    margin: 40px;
    margin-bottom: 20px;
    width: 180px;
    height: 140px;

}

.card p {
    color: var(--green-300);
    font-size: 28px;
    text-align: center;
    margin: 10px;
    

}

.card :last-child {
    text-align: left;
    margin: 10px;
    padding: 0 0 0 10px;
    font-size: 20px;
    text-align: center;
    

}